<%- include("partials/cdns.ejs") %>	
	<style>
		.cross{
			float: right;
			color : red;
			font-size: 1rem;
			margin-right:10px;
		}
		.cross:hover{
			color: red;
		}
		.review img{
			width: 50px;
			height: 50px;
			border-radius: 50%;
			border: 6px solid white;
			margin-left: -5px;
		}
		.review .author{
			background-color: white;
			display: inline;
			margin-left: 10px;
			border-radius: 25px;
			padding: 5px;
			padding-right: 10px;
		}
		.review p{
			margin: 10px ;
			margin-left: 250px;
		}
		.jumbotron{
			padding: 10px;
			border-radius: 20px;
			background-color: rgba(0,250,154,0.4);
		}
	</style>
	<link rel="stylesheet" type="text/css" href="phasebook.css">
	<title>Fakebook-log in</title>
</head>
<body>
	<% userid = null %>
	<!-- NAVBAR -->
	<nav class="navbar fixed-top navbar-dark bg-dark">
  		<div class="container-md">
	  		<a class="navbar-brand" href="#"><span class="brand">fakebook</span></a>
			<form class="nav-form" action="/signin" method="post">
				<div class="row justify-content-between">
					<div class="col col-4 ">
						<div>Email or Phone</div>
						<div><input class="form" type="email" name = "useremail" required></div>
					</div>
					<div class="col col-4">
						<div>Password</div>
						<div><input class="form" type="password" name="userpassword" required></div>
						<a href="#" class="forgotten">Forgotten account?</a>
					</div>
					<div class="col col-3 align-self-center">
						<button type="submit" class="login-btn">Log In</button>
					</div>
				</div>
			</form>
	  	</div>
	</nav>

	<!-- FORM REGION -->

	<div class="container-md">
		<div class="row">
			<div class="col col-6">
				<h4 class="left-text">Fakebook helps you connect and share with the people in your life.</h4>	
				<!-- <div class="start-img"><img src="img1.png"></div> -->
			</div>
			<div class="col col-5 pl-5">
				<form class="row" action="/signup" method="post">
					<div>
						<h1 class="pl-2">Create an account</h1>
						<div class="right-text pl-2">It's quick and easy.</div>
					</div>
					<div class="row pl-4">
						<div>
							<div class="input-group mt-3">
							  	<input type="text" placeholder="Enter name" name="username" aria-label="Name" class="form-control rounded mr-2" required>
							  	<input type="text" placeholder="Surname" name="usersurname" aria-label="Surname" class="form-control rounded" required>
							</div>
							<div class="input-group mt-3">
							  	<input type="email number" name="useremail" placeholder="Mobile number or email address" aria-label="Mobile" class="form-control rounded" required>
							</div>
							<div class="input-group mt-3">
							  	<input type="password" placeholder="New password" name="userpassword" aria-label="password" class="form-control rounded" required>
							</div>
							<div class="input-group mt-3">
							  	<label class="label-bday w-100">Birthday:
							  		<div>
							  			<input type="date" aria-label="birthday" name="userbirthday" class="form-control d-inline w-75" required>
							  			<abbr title="Click for more information"><i class="fas fa-question-circle bday-info"></i></abbr>
							  		</div>
							  	</label>
							</div>
							<div class="input-group mt-3">
							  	<label class="label-gender w-100">Gender:<br>
							  		<input type="radio" name="usergender" value="female" class="ml-3  mr-1 mt-2"><span>Female</span>
  									<input type="radio" name="usergender" value="male" class="ml-3 mr-1 "><span>Male</span>
  									<input type="radio" name="usergender" value="other" class="ml-3 mr-1 "><span>Other</span>
  									<abbr title="Click for more information" class="ml-3"><i class="fas fa-question-circle gender-info"></i></abbr>
							  	</label>
							</div>
							<div class="agreement-text w-75 mt-2">
								<p>By clicking Sign Up, you agree to our <a href="#">Terms</a>, <a href="#">Data Policy</a> and <a href="#">Cookie Policy</a>. You may receive SMS notifications from us and can opt out at any time.</p>
							</div>
							<div>
								<button type="submit" class="btn btn-sm w-50 btn-success">Sign up</button>
							</div>
							<div class="create-text">
								<p><a href="#">Create a Page</a> for a celebrity, band or business.</p>
							</div>
						</div>
					</div>
				</form>
			</div>
			</div>	

			<% function dispReview(author, Url, content){%>
				<div class="jumbotron jumbotron-sm review"> 
					<i class="fas fa-user-check cross"></i>
					<div class="author">
						<img src="<%= Url %>">
						<h4 class="d-inline"><%= author %></h4>
					</div>
					<p>~ <%= content %></p>
				</div>
			<% } %>	

			<% if(reviews){ %>
				<h1 >Featured Reviews</h1>
				<p>(only reviews that follows community guidelines are posted and requires admin's approval)</p>
				<%  reviews.forEach(function(review){ 
						 if(review.featured == "true"){ 
								dispReview(review.author, review.url, review.content);
					 	} 	
		 			})
				}	 %>
	</div>
	<%- include("partials/footer.ejs") %>